@charset "UTF-8";

/*
Tablet: até 992px
Desktop: até 1200px
TV: acima de 1200px
*/

@media screen and (min-width: 320px) and (max-width: 480px) {
    section#login > #imagem {
        height: 40%;
    }
}

@media screen and (min-width: 481px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw
    }

    section#login > #imagem {
        float: left;
        width: 30%;
        height: 100%;

    }

    section#login > #formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 950px;

    }

    section#login > #imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > #formulario {
        float: left;
        width: 50%;
    }

    div#formulario > p {
        font-size: 1.2em;
    }


}